<html>
    <head>
        <link rel="stylesheet" href="/css/user.css" />
    </head>
    <body>
        <div class="userdata">
            <ul>
                <li><strong>Name: </strong><%= name %></li>
                <li><strong>Email: </strong><%= email %></li>
                <li><strong>Phone: </strong><%= phone %></li>
                <li><strong>Message: </strong><%= message %></li>
            </ul>
        </div>
    </body>
</html>