.form-container{
    display: flex;
    margin-top: 20vh;
}
form {
    background-color: rgb(206, 205, 205);
    border: 2px rgb(76, 97, 136) solid;
    border-radius: 15px;
    display: inline-block;
    padding: 2rem;
    margin: auto;
}

label {
    font-weight: 300;
}

input, textarea, .submit-btn{
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    height: 1.5rem;
    width: 10rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

textarea{
    height: 3rem;
}

.submit-btn{
    background-color: green;
    width: 5rem;
    margin-left: 2.5rem;
}