.userdata{
    display: flex;
    align-content: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    background-color: rgb(122, 122, 187);
    padding: 2rem;
    border: 2px black solid;
    border-radius: 15px;
}

li{
    padding: 0.2rem;
    font-size: 1.5rem;
}